caption {color: red; font-size: 3ex;}
span {color:purple}
span:hover {color: aqua;}
table, tr, th, td {border: 3px solid blue;}
table {
    border: 5px solid red;
    font-size: 2em;
    width: 30%;
    text-align: center;
}
thead {
    background-color:bisque ;
}
tbody tr:nth-child(odd) 
{background-color:rgba(128, 128, 0, 0.555);}
tbody tr:nth-child(even)
 {background-color:rgba(248, 177, 187, 0.527)} 
tbody td:first-child {background-color: aqua;}

 tfoot {
    background-color: rgba(238, 55, 55, 0.575);
    text-align: center;
}
